<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
             xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
                                 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2.xsd">

    <!-- 패스워드 암호화를 위한 Encoder -->
    <beans:bean id="passwordEncoder" class="org.uengine.garuda.web.security.AESPasswordEncoder">
        <beans:property name="secretKey1" value="${security.password.encoder.secret1}"/>
        <beans:property name="secretKey2" value="${security.password.encoder.secret2}"/>
    </beans:bean>

</beans:beans>
